@charset "utf-8";
.lunbo {
	margin-bottom: 8px;
}
.third_contain {
	background-color: #e9f6dc;
	margin-bottom: 40px;
}
.third_contain .container {
	 margin: 0;
    margin-left: 85px;
     margin-right: 85px;
     width: auto;
}
.third_contain .third_h2 {
	font-size: 24px;
	color: #589c1f;
	margin-top: 60px;
	margin-bottom: 18px;
}
.third_contain .third_pp {
	padding: 0;
	margin: 0;
	padding: 12px 0;
	color: #666;
	font-size: 14px;
	text-align: left;
}
.third_contain .third_dibu {
	margin-bottom: 60px;
}
.third_contain .third_right {
	font-size: 24px;
	color: #589C1F;
	float: right;
	margin-top: 100px;
}
.third_contain .third_right span {
	font-size: 72px;
	color: #589C1F;
}


.four_taobao .container {

}
.four_taobao .table-bordered {
	border: none;
	width: 80%;
}
.four_taobao .biaotou_four {
	font-size: 14px;
	font-weight: bolder;
	color: #305a0d;
}
.four_taobao tr td {
	width: 20%;
}
.four_taobao tr td a {
	color: #589C1F;
}
.four_taobao tr td a:hover {
	color: #305a0d;
}
 .table-bordered > thead > tr > th, 
 .table-bordered > tbody > tr > th, 
 .table-bordered > tfoot > tr > th, 
 .table-bordered > thead > tr > td, 
 .table-bordered > tbody > tr > td, 
 .table-bordered > tfoot > tr > td {
 	    border: none;
 	    padding: 4px;
 }


